n8n-order-notifications-workflow.json
{
  "name": "Aquimaq — Notificações de Pedidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 1 minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Configurações — ajuste conforme necessário\nreturn [{\n  json: {\n    // URL base do Supabase (sem barra no final)\n    supabaseUrl: 'https://bzicdqrbqykypzesxayw.supabase.co',\n    // Supabase service_role key (salve como variável de ambiente n8n: SUPABASE_SERVICE_ROLE_KEY)\n    supabaseServiceKey: '{{ $env.SUPABASE_SERVICE_ROLE_KEY }}',\n    // Chatwoot\n    chatwootUrl: 'https://chatwoot.aquimaq.com.br',\n    chatwootToken: '{{ $env.CHATWOOT_ACCESS_TOKEN }}',\n    chatwootAccountId: 2,\n    // ID do inbox \"Site Aquimaq\" no Chatwoot (verifique em Settings > Inboxes)\n    chatwootInboxId: 1,\n    // Contato \"Sistema Aquimaq\" criado via API\n    chatwootContactId: 27\n  }\n}];"
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.supabaseUrl }}/rest/v1/n8n_webhook_logs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.pending" },
            { "name": "order", "value": "created_at.asc" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.supabaseServiceKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.supabaseServiceKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "fetch-pending-events",
      "name": "Buscar eventos pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Config').first().json;\n\n// Se não houver eventos, retorna vazio\nconst events = items[0]?.json;\nif (!Array.isArray(events) || events.length === 0) {\n  return [];\n}\n\n// Retorna cada evento como item separado, carregando o config junto\nreturn events.map(event => ({\n  json: {\n    ...event,\n    _config: config\n  }\n}));"
      },
      "id": "split-events",
      "name": "Separar eventos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nconst payload = event.payload || {};\nconst order = payload.order || {};\n\nconst emojis = {\n  'order.created':          '🛒',\n  'order.pago':             '✅',\n  'order.em_separacao':     '📦',\n  'order.enviado':          '🚚',\n  'order.entregue':         '🏠',\n  'order.cancelado':        '❌',\n  'order.pronto_retirada':  '🏪'\n};\n\nconst labels = {\n  'order.created':          'Novo Pedido',\n  'order.pago':             'Pagamento Confirmado',\n  'order.em_separacao':     'Em Separação',\n  'order.enviado':          'Pedido Enviado',\n  'order.entregue':         'Pedido Entregue',\n  'order.cancelado':        'Pedido Cancelado',\n  'order.pronto_retirada':  'Pronto para Retirada'\n};\n\nconst emoji = emojis[event.event_type] || '📋';\nconst label = labels[event.event_type] || event.event_type;\n\nconst orderId = order.id ? order.id.substring(0, 8).toUpperCase() : 'N/A';\nconst total = order.total != null\n  ? `R$ ${Number(order.total).toFixed(2).replace('.', ',')}`\n  : 'N/A';\nconst cliente = order.cliente_email || order.cliente_nome || order.cliente_id || 'N/A';\nconst shipping = order.shipping_method || 'N/A';\nconst status = order.status || 'N/A';\nconst tracking = order.tracking_code ? `\\n🔍 Rastreio: \\`${order.tracking_code}\\`` : '';\n\nconst message = `${emoji} **${label}**\n\n🆔 Pedido: \\`${orderId}\\`\n👤 Cliente: ${cliente}\n💰 Total: ${total}\n📮 Envio: ${shipping}\n📊 Status: \\`${status}\\`${tracking}\n\n_${new Date(event.created_at).toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'})}_`;\n\nreturn [{\n  json: {\n    ...event,\n    _message: message\n  }\n}];"
      },
      "id": "format-message",
      "name": "Formatar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json._config.chatwootUrl }}/api/v1/accounts/{{ $json._config.chatwootAccountId }}/contacts/{{ $json._config.chatwootContactId }}/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $json._config.chatwootToken }}" }
          ]
        }
      },
      "id": "get-existing-conversations",
      "name": "Buscar conversas existentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst config = item._config;\nconst convData = item;\n\n// Preserve dados do evento que vieram antes\nconst prevData = $('Formatar mensagem').first().json;\n\n// Tenta encontrar conversa aberta existente com o sistema\nconst conversations = convData?.payload || [];\nconst openConv = Array.isArray(conversations)\n  ? conversations.find(c => c.status === 'open' || c.status === 'pending')\n  : null;\n\nreturn [{\n  json: {\n    ...prevData,\n    _existingConvId: openConv?.id || null\n  }\n}];"
      },
      "id": "check-existing-conv",
      "name": "Verificar conversa existente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json._existingConvId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "needs-new-conv",
      "name": "Criar nova conversa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._config.chatwootUrl }}/api/v1/accounts/{{ $json._config.chatwootAccountId }}/conversations",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "inbox_id", "value": "={{ $json._config.chatwootInboxId }}" },
            { "name": "contact_id", "value": "={{ $json._config.chatwootContactId }}" },
            { "name": "additional_attributes", "value": "={ \"origem\": \"sistema_aquimaq\" }" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $json._config.chatwootToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "create-conversation",
      "name": "Criar conversa no Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 160]
    },
    {
      "parameters": {
        "jsCode": "// Merge: pega o conversation_id seja de uma conversa nova ou existente\nconst prevEvent = $('Verificar conversa existente').first().json;\n\n// Se veio do branch \"criar conversa\"\nlet convId;\ntry {\n  const newConv = $('Criar conversa no Chatwoot').first().json;\n  convId = newConv?.id || prevEvent._existingConvId;\n} catch {\n  convId = prevEvent._existingConvId;\n}\n\nreturn [{\n  json: {\n    ...prevEvent,\n    _conversationId: convId\n  }\n}];"
      },
      "id": "merge-conv-id",
      "name": "Consolidar conversation_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._config.chatwootUrl }}/api/v1/accounts/{{ $json._config.chatwootAccountId }}/conversations/{{ $json._conversationId }}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json._message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $json._config.chatwootToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "send-note",
      "name": "Enviar nota privada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._config.supabaseUrl }}/rest/v1/n8n_webhook_logs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Formatar mensagem').first().json.id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processed\",\n  \"processed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json._config.supabaseServiceKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json._config.supabaseServiceKey }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        }
      },
      "id": "mark-processed",
      "name": "Marcar como processado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300]
    }
  ],
  "connections": {
    "A cada 1 minuto": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Buscar eventos pendentes", "type": "main", "index": 0 }]]
    },
    "Buscar eventos pendentes": {
      "main": [[{ "node": "Separar eventos", "type": "main", "index": 0 }]]
    },
    "Separar eventos": {
      "main": [[{ "node": "Formatar mensagem", "type": "main", "index": 0 }]]
    },
    "Formatar mensagem": {
      "main": [[{ "node": "Buscar conversas existentes", "type": "main", "index": 0 }]]
    },
    "Buscar conversas existentes": {
      "main": [[{ "node": "Verificar conversa existente", "type": "main", "index": 0 }]]
    },
    "Verificar conversa existente": {
      "main": [[{ "node": "Criar nova conversa?", "type": "main", "index": 0 }]]
    },
    "Criar nova conversa?": {
      "main": [
        [{ "node": "Criar conversa no Chatwoot", "type": "main", "index": 0 }],
        [{ "node": "Consolidar conversation_id", "type": "main", "index": 0 }]
      ]
    },
    "Criar conversa no Chatwoot": {
      "main": [[{ "node": "Consolidar conversation_id", "type": "main", "index": 0 }]]
    },
    "Consolidar conversation_id": {
      "main": [[{ "node": "Enviar nota privada", "type": "main", "index": 0 }]]
    },
    "Enviar nota privada": {
      "main": [[{ "node": "Marcar como processado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "aquimaq" }],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
