n8n-order-notifications-workflow.json
{
  "name": "Aquimaq — Notificações de Pedidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 1 minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    supabaseUrl: 'https://bzicdqrbqykypzesxayw.supabase.co',\n    supabaseServiceKey: $env.SUPABASE_SERVICE_KEY,\n    chatwootUrl: 'https://chatwoot.aquimaq.com.br',\n    chatwootToken: $env.CHATWOOT_ACCESS_TOKEN,\n    chatwootAccountId: 2,\n    // ID da conversa \"Sistema Aquimaq\" no Chatwoot (criada via API, contato_id=27)\n    chatwootConvId: 6\n  }\n}];"
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.supabaseUrl }}/rest/v1/n8n_webhook_logs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.pending" },
            { "name": "order", "value": "created_at.asc" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.supabaseServiceKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.supabaseServiceKey }}" }
          ]
        }
      },
      "id": "fetch-pending-events",
      "name": "Buscar eventos pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').first().json;\nconst items = $input.all();\nif (items.length === 0) return [];\n\n// n8n HTTP Request v4 já divide arrays em itens separados automaticamente\nreturn items.map(item => ({\n  json: { ...item.json, _config: config }\n}));"
      },
      "id": "split-events",
      "name": "Separar eventos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\nconst payload = event.payload || {};\nconst order = payload.order || {};\n\nconst emojis = {\n  'order.created':         '🛒',\n  'order.pago':            '✅',\n  'order.em_separacao':    '📦',\n  'order.enviado':         '🚚',\n  'order.entregue':        '🏠',\n  'order.cancelado':       '❌',\n  'order.pronto_retirada': '🏪'\n};\nconst labels = {\n  'order.created':         'Novo Pedido',\n  'order.pago':            'Pagamento Confirmado',\n  'order.em_separacao':    'Em Separação',\n  'order.enviado':         'Pedido Enviado',\n  'order.entregue':        'Pedido Entregue',\n  'order.cancelado':       'Pedido Cancelado',\n  'order.pronto_retirada': 'Pronto para Retirada'\n};\n\nconst emoji = emojis[event.event_type] || '📋';\nconst label = labels[event.event_type] || event.event_type;\nconst orderId = order.id ? String(order.id).substring(0, 8).toUpperCase() : 'N/A';\nconst total = order.total != null ? `R$ ${Number(order.total).toFixed(2).replace('.', ',')}` : 'N/A';\nconst cliente = order.cliente_email || order.cliente_nome || order.cliente_id || 'N/A';\nconst shipping = order.shipping_method || 'N/A';\nconst status = order.status || 'N/A';\nconst tracking = order.tracking_code ? `\\n🔍 Rastreio: ${order.tracking_code}` : '';\nconst dt = new Date(event.created_at).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nconst message = `${emoji} **${label}**\\n\\n🆔 Pedido: ${orderId}\\n👤 Cliente: ${cliente}\\n💰 Total: ${total}\\n📮 Envio: ${shipping}\\n📊 Status: ${status}${tracking}\\n\\n_${dt}_`;\n\nreturn [{ json: { ...event, _message: message } }];"
      },
      "id": "format-message",
      "name": "Formatar mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._config.chatwootUrl }}/api/v1/accounts/{{ $json._config.chatwootAccountId }}/conversations/{{ $json._config.chatwootConvId }}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": {{ JSON.stringify($json._message) }}, \"private\": true }",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api_access_token", "value": "={{ $json._config.chatwootToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "send-note",
      "name": "Enviar nota privada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Formatar mensagem').item.json._config.supabaseUrl }}/rest/v1/n8n_webhook_logs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Formatar mensagem').item.json.id }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"processed\", \"processed_at\": \"{{ new Date().toISOString() }}\" }",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Formatar mensagem').item.json._config.supabaseServiceKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Formatar mensagem').item.json._config.supabaseServiceKey }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        }
      },
      "id": "mark-processed",
      "name": "Marcar como processado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    }
  ],
  "connections": {
    "A cada 1 minuto": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Buscar eventos pendentes", "type": "main", "index": 0 }]]
    },
    "Buscar eventos pendentes": {
      "main": [[{ "node": "Separar eventos", "type": "main", "index": 0 }]]
    },
    "Separar eventos": {
      "main": [[{ "node": "Formatar mensagem", "type": "main", "index": 0 }]]
    },
    "Formatar mensagem": {
      "main": [[{ "node": "Enviar nota privada", "type": "main", "index": 0 }]]
    },
    "Enviar nota privada": {
      "main": [[{ "node": "Marcar como processado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "aquimaq" }],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T00:00:00.000Z",
  "versionId": "1"
}
