automação_n8n/agente de ia.txt
{
  "name": "Transferir Atendimento",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "a3e35e00-4610-46da-841e-fa297c81659a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Transferido"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [224, 0],
      "id": "5d47b34f-38bc-4774-b6eb-24e18899b614",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "memory",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [448, 0],
      "id": "1e52ca3c-80a5-4896-90bc-7765d27129b9",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "721bc58d-c594-467a-8787-6f9003618945",
              "name": "mensagem",
              "value": "=- {{ $json.message.type }}: {{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [672, 0],
      "id": "bbbe6995-aaa9-424f-8de7-50aa7e9c99af",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "mensagem"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [896, 0],
      "id": "450ae483-4652-4d50-b035-6efc865325ab",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### HISTÓRICO DE CONVERSA:\n{{ $json.mensagem }}",
        "options": {
          "systemMessage": "## Papel\nGere um resumo curto do que foi conversado entre o lead e o nosso agente de IA para que o nosso atendente humano tenha contexto sobre a conversa.\n\nAs mensagens com o prefixo \"ai\" foram enviadas pelo agente de IA, enquanto as mensagens com prefixo \"human\" foram enviados pelo lead.\n\nGere um resumo curto, somente com as informações principais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1120, 0],
      "id": "ee81c27f-b2b5-449e-ac3a-96597e4c33c6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {

        },
        "options": {

        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1200, 224],
      "id": "130617ee-050a-4f04-95b8-132dc104183d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ouGyZNQOZ6WoBC9w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1472, 0],
      "id": "1a25ed94-089e-4b73-8e7c-bdfd9ff719f7",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://addept.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "6756db8a-f9f3-4277-af6d-ffb5754200d6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "555497076306@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "=Novo lead aguardando atendimento!\n\n- Nome: {{ $json.nome }}\n- Telefone: {{ $json.id.split('@')[0] }}\n- Resumo da Conversa: {{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1696, 0],
      "id": "0d2dab70-3097-43e5-a491-137cb5a8cb09",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c30c8698-c38f-41a2-bfbc-812dacf1dfc0",
              "name": "status",
              "value": "Atendimento transferido com sucesso. Despeça-se do lead.",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1920, 0],
      "id": "92c0e78f-d0cd-4c32-a0a3-079df6c153cb",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "telefone": "555497076306@s.whatsapp.net"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f875a0de-b894-45f4-9034-188e857c58e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06628b396b226ae4519254d7fac5f11ed3e61f2ad0710c946f2759015e331bd9"
  },
  "id": "r6U8JF64fv4makiG",
  "tags": []
}