automação_n8n/transferir atendimento.txt
{
  "name": "Agente de IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-de-ia",
        "options": {

        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, -368],
      "id": "327e66b7-0a7e-4064-b7c8-805225825c64",
      "name": "Webhook",
      "webhookId": "838550a7-92b2-4c4c-85ca-b8f6aa9172af"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9023c05-5e20-45b1-9b5a-cf0c320bb9f8",
              "name": "telefone",
              "value": "={{ $json.body.message.sender }}",
              "type": "string"
            },
            {
              "id": "40b444f5-b0da-4723-841b-dd976346f511",
              "name": "nome",
              "value": "={{ $json.body.message.senderName }}",
              "type": "string"
            },
            {
              "id": "8c461eb9-9a7b-463d-b8a0-c71250c5f473",
              "name": "fromMe",
              "value": "={{ $json.body.message.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "feb32b64-ae11-428c-bdbf-0938fd393bb3",
              "name": "id",
              "value": "={{ $json.body.message.messageid }}",
              "type": "string"
            },
            {
              "id": "0e0b73eb-591b-42f0-a76d-5ff2796bf3b5",
              "name": "mensagem_tipo",
              "value": "={{ $json.body.message.messageType }}",
              "type": "string"
            },
            {
              "id": "04df9ef0-c66d-4dac-9d8c-9c9d02412e1c",
              "name": "mensagem_texto",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, -368],
      "id": "25029d42-9855-494d-8285-3e93c5f3db50",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [448, -368],
      "id": "4923c903-365a-49d4-bd98-ef2d6c5f5d1e",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "697c0170-0b36-4ccf-8ed5-50552bd0dd4d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, -368],
      "id": "34d20197-3911-4abf-8633-749642b6171a",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('Edit Fields').item.json.telefone }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Edit Fields').item.json.nome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [896, -448],
      "id": "0a0cbd9a-d669-4054-9e1f-929d898d0a45",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6220820-813a-47bb-b50f-1d0d9517c6e6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Transferido",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1120, -368],
      "id": "d25526d2-e4d5-48c8-ad4c-1b8091531492",
      "name": "If1"
    },
    {
      "parameters": {

      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1344, -464],
      "id": "dd6b36d8-2d4a-40c9-a55c-c093ca2434ca",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "665ed144-ac1f-47be-8933-71f4b6bf15fd",
              "leftValue": "={{ $('Edit Fields').item.json.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1344, -272],
      "id": "547a0a05-18bc-4c2b-894f-8817d92b2c54",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Transferido"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1568, -288],
      "id": "66e5ce65-e78a-4c4f-a69c-0c8eaf827420",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "Conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae156860-e18c-4daa-8f09-4ebc2ad098d3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ae50ce1e-1f8c-4f61-b5f4-6f263ba961cd",
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "ExtendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1266a981-94ee-4b16-9655-5f65b0a25f04",
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "AudioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "255a18a1-76d6-4288-919e-db386e88ebc4",
                    "leftValue": "={{ $('Edit Fields').item.json.mensagem_tipo }}",
                    "rightValue": "ImageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [1568, -96],
      "id": "a43d8fac-13b0-408d-bb55-13f4c8ccc8a7",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f6431f9-3cfd-4d2a-b30b-7d3c3320d5e1",
              "name": "mensagem",
              "value": "={{ $('Edit Fields').item.json.mensagem_texto }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2464, -368],
      "id": "677e9e87-f146-4e25-9f42-00018af9d379",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://addept.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "6756db8a-f9f3-4277-af6d-ffb5754200d6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Edit Fields').item.json.id }}\",\n  \"generate_mp3\": true\n}",
        "options": {

        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1792, -160],
      "id": "5b37bfdc-e090-4f3e-bd8a-016ae284e815",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {

        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2016, -160],
      "id": "eb0a9c0b-cc80-4d25-8636-232d17cb9ac8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {

        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [2240, -160],
      "id": "174f4edd-7332-489d-8e74-772fc3a14dfb",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "ouGyZNQOZ6WoBC9w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39686851-7ca7-457d-bf41-10ec5d189449",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2464, -160],
      "id": "2e0bee85-f92c-4d5a-a893-06e64126e134",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://addept.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "6756db8a-f9f3-4277-af6d-ffb5754200d6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Edit Fields').item.json.id }}\"\n}",
        "options": {

        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1792, 32],
      "id": "11abd42a-2c2a-4382-8612-20fb429b740e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {

        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2016, 32],
      "id": "25229e9c-a101-45d5-85ed-80d96152b950",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-05-13",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-05-13"
        },
        "text": "Descreva essa imagem da forma mais detalhada o possível.",
        "inputType": "base64",
        "options": {

        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [2240, 32],
      "id": "4cf04f60-f15c-47f2-ba62-c14d7185e244",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "ouGyZNQOZ6WoBC9w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d285ceb-e4e1-4845-b2fe-1d0dba57fe7d",
              "name": "mensagem",
              "value": "=### MENSAGEM DO SISTEMA\nO lead enviou uma imagem, segue descrição dela:\n\n{{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2464, 32],
      "id": "e115a6f9-4683-40e5-ab1a-718f8d65dd4a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1236afff-7456-4c78-8ede-0ff53d3598d8",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2688, -160],
      "id": "d32d0b97-bf5e-4985-b9ac-424b02896817",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.telefone }}",
        "messageData": "={{ $json.mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2912, -160],
      "id": "ccf9cd59-6951-4cb0-9ca3-d84855baab52",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "79TpzCg6YXMh1oJe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3136, -160],
      "id": "d442151f-af0b-42b9-bead-b4e21a07da81",
      "name": "Wait",
      "webhookId": "b7c1a29b-7bb5-4d70-8e81-73da55730c7e"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Edit Fields').item.json.telefone }}",
        "options": {

        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3360, -160],
      "id": "9498fc9a-04dc-4c51-a2e8-a3f0ca151ac8",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "79TpzCg6YXMh1oJe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cf498ea8-ffe4-451b-aad7-482034b596a8",
              "leftValue": "={{ $json.mensagens?.last() || \"\" }}",
              "rightValue": "={{ $('Edit Fields4').item.json.mensagem }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3584, -160],
      "id": "93762062-f984-46e6-844e-cae05c44a309",
      "name": "If3"
    },
    {
      "parameters": {

      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3808, -80],
      "id": "570c05ed-2adc-4e39-9063-2193847ebd4c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "825a7896-df8d-45bf-84f4-a46d8af8b1a5",
              "name": "mensagens",
              "value": "={{ $json.mensagens.join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3808, -272],
      "id": "7625706a-d020-4ba5-a1f6-34bb06ca2fa0",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [4032, -272],
      "id": "5361997d-d265-4763-8665-49e4b10ccb28",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "79TpzCg6YXMh1oJe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields5').item.json.mensagens }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Papel\nVocê é Júlia, SDR da Addept Automação. Com anos de experiência em vendas consultivas e expertise em qualificação de leads via WhatsApp, seu objetivo é transformar o interesse do lead em uma conversa comercial real com um especialista da Addept. Você é calorosa e capaz de fazer o lead se sentir ouvido enquanto o conduz com clareza para o próximo passo. \n\n## Instruções\n\nConduza o atendimento seguindo as etapas abaixo:\n\n### ETAPA 1 - Recepção e conexão\n- Objetivo: acolher o lead e criar rapport imediato. \n\n### ETAPA 2 - Levantamento de contexto**\n- Objetivo: entender o negócio, o momento atual e os principais problemas operacionais do lead. Priorize perguntas abertas e ouça mais do que fale. Você quer descobrir onde está a dor real — gargalos, processos manuais, time sobrecarregado, oportunidades perdidas.\n- Assim que entender o problema, avance para a etapa 3\n\n### ETAPA 3 - Qualificação estratégica\n- Objetivo: avaliar se o lead tem fit para a consultoria da Addept. Considere: ele tem operação estruturada? Há processos repetitivos que consomem tempo? Ele tem autonomia para tomar decisão ou influencia quem decide? \n- Faça no máximo 3 perguntas nesta etapa. Após isto, avance.\n\n### ETAPA 4 - Geração de valor\n- Objetivo: conectar os problemas levantados com o que a Addept entrega. Não descreva serviços de forma genérica — mostre como a consultoria resolve especificamente o que o lead relatou.\n- Pergunte se faz sentido para ele. Assim que confirmar, avance.\n\n### ETAPA 5 - Transição para o especialista\n- Objetivo: criar expectativa positiva e conduzir o lead para o agendamento com um especialista. O lead deve sair dessa etapa com vontade de ter a próxima conversa, não apenas \"marcado na agenda\".\n- Após o lead confirmar o interesse, use a ferramenta `transferirAtendimento`.\n\n## Contexto\nVocê atua no WhatsApp da Addept Automação, uma empresa de consultoria especializada em automação de processos com IA. Os leads que chegam até você vieram do canal do YouTube do Enzzo — fundador e CEO da Addept — e já têm familiaridade com o tema de automação e agentes de IA. Seu papel é pegar esse interesse e converter em uma reunião qualificada com um especialista, onde a venda consultiva de fato acontece. Cada lead bem qualificado impacta diretamente a receita e a reputação da Addept no mercado.\n\nAtuamos mapeando os processos operacionais do cliente, identificando gargalos e implementando agentes de IA e fluxos automatizados que eliminam trabalho manual, reduzem custos e escalam operações.\n\n## Ferramentas\n\n### `Base de Conhecimento`\nFerramenta de Vector Store/RAG, use-a para buscar informações sobre a Addept, serviços e etc para responder as dúvidas do lead.\n\n### `transferirAtendimento`\nUse-a para transferir o atendimento para um humano quando necessário.\n\n## Regras\n- Trate cada lead como único — use o contexto que ele trouxer para personalizar toda a conversa\n- Faça no máximo uma ou duas perguntas por mensagem para não parecer um formulário\n- Adapte o tom: seja mais técnica com quem demonstra conhecimento, mais educativa com quem está começando\n- Sempre que mencionar resultados ou cases, contextualize — nunca jogue números soltos\n- Mantenha o ritmo da conversa: se o lead deu uma resposta curta, responda curto; se ele foi detalhado, aprofunde\n- Não tente fechar nada além do agendamento com o especialista — seu único objetivo de conversão é esse\n- Não invente informações sobre serviços, preços ou prazos que não foram fornecidos a você\n- Nunca seja insistente ou crie pressão artificial — conduza, não empurre\n- Se o lead não tiver fit claro para a consultoria, seja honesta em vez de qualificar à força"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [4528, -272],
      "id": "5c556a8b-c786-42d9-aaf0-781acdb05068",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {

        },
        "options": {

        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [4256, -48],
      "id": "8d21415e-7f05-4333-b0a2-e2bb73b30d4b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ouGyZNQOZ6WoBC9w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.telefone }}",
        "tableName": "memory",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [4384, -48],
      "id": "1982accb-af42-4edc-ae03-7ebd5864707f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "A6jf44fy1nrTYG4R",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\"title\": \"Mensagem Final\",\n\"type\": \"object\",\n\"properties\":{\n    \"message\":{\n      \"type\": \"string\",\n      \"description\": \"Sua resposta ao usuário. Use \\n\\n ⁠para dividir o texto e facilitar a leitura.\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [4928, -48],
      "id": "8a5beef9-eb4d-4b9a-974e-a850370142b7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "220b54f3-ccb3-4ae0-8723-0e983d2f4169",
              "name": "mensagens",
              "value": "={{ $json.output.message.replace(/\\\\n/g, '\\n').split(/\\n\\s*\\n/).map(s =\u003E s.trim()).filter(s =\u003E s.length \u003E 0) }}",
              "type": "array"
            }
          ]
        },
        "options": {

        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [5136, -272],
      "id": "c8d85a32-65cd-451f-b02e-73d291ea81ae",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mensagens",
        "options": {

        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [5360, -272],
      "id": "f944f54c-c7a6-47a4-b87c-ffd4cd7ed5bf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {

        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [5584, -272],
      "id": "36ccc077-a14b-4b0e-9248-eec03d24178d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {

      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [5808, -464],
      "id": "b5e06c26-4304-446d-ad7d-d39fb6e53ea3",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item =\u003E {\n  const texto = (item.json.mensagens ?? item.json.output ?? item.json.text ?? \"\").trim();\n  const palavras = texto ? texto.split(/\\s+/).length : 0;\n  const segundos = Math.max(palavras / 4, 1.5);\n  const textoJson = JSON.stringify(texto).slice(1, -1);\n\n  return {\n    json: {\n      textoJson,\n      tempoLeituraSegundos: parseFloat(segundos.toFixed(1))\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5808, -272],
      "id": "77a23f37-f1f2-4759-84b9-61e64ea78b1b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://addept.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "6756db8a-f9f3-4277-af6d-ffb5754200d6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Edit Fields').item.json.telefone }}\",\n  \"text\": \"{{ $json.textoJson }}\"\n}",
        "options": {

        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [6032, -272],
      "id": "240cb0c1-742b-4c19-b389-f12ec6aca7e2",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "amount": "={{ $('Code in JavaScript').item.json.tempoLeituraSegundos }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [6256, -208],
      "id": "1b89c9d7-4639-4cfd-9604-01d2976822f9",
      "name": "Wait1",
      "webhookId": "a08d6b9f-5049-4873-90a2-e1203cdeca54"
    },
    {
      "parameters": {
        "options": {

        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [4592, 160],
      "id": "785d7d27-7587-44a5-aa56-3ca4ba2dddbb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ouGyZNQOZ6WoBC9w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "### `Base de Conhecimento`\nUse-a para buscar informações sobre a Addept, serviços e etc para responder as dúvidas do lead. Vector store/RAG",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [4512, -48],
      "id": "6b1d0048-2afb-4140-a566-4010c4e3e2ce",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "TyEwsTlX5iBCPx7V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "description": "### `transferirAtendimento`\nUse essa ferramenta para transferir o atendimento para um humano quando necessário.",
        "workflowId": {
          "__rl": true,
          "value": "r6U8JF64fv4makiG",
          "mode": "list",
          "cachedResultUrl": "/workflow/r6U8JF64fv4makiG",
          "cachedResultName": "Transferir Atendimento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Edit Fields').item.json.telefone }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [4800, -48],
      "id": "efdb37a2-862e-4964-9fc4-8e906d660020",
      "name": "Call 'Transferir Atendimento'"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "servidor-n8n.6pn21f.easypanel.host",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2492",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "177.234.159.170",
            "x-forwarded-host": "servidor-n8n.6pn21f.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "000ebc12ad4a",
            "x-real-ip": "177.234.159.170"
          },
          "params": {

          },
          "query": {

          },
          "body": {
            "BaseUrl": "https://addept.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r0d7bf36610aa0b",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/491843216_1465385358154152_5187253827098321144_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3wGVCU1rpFmtimzK-guNshMz5lLtsTWhk1X0Y7hfDLkFTQ&oe=69AC1970&_nc_sid=5e03e0&_nc_cat=105",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "Enzzo Panarotto",
              "owner": "555481000337",
              "phone": "+55 54 9707-6306",
              "wa_archived": false,
              "wa_chatid": "555497076306@s.whatsapp.net",
              "wa_chatlid": "246797494681824@lid",
              "wa_contactName": "",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "555481000337:555497076306",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "555497076306@s.whatsapp.net",
              "wa_lastMessageTextVote": "Obrigado",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1772496061000,
              "wa_muteEndTime": 0,
              "wa_name": "Enzzo Panarotto",
              "wa_unreadCount": 11
            },
            "chatSource": "updated",
            "instanceName": "Aula YouTube",
            "message": {
              "buttonOrListid": "",
              "chatid": "555497076306@s.whatsapp.net",
              "chatlid": "",
              "content": "Obrigado",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "Unknown",
              "id": "555481000337:3BA83E8A8E1AA46F4C61",
              "isGroup": false,
              "mediaType": "",
              "messageTimestamp": 1772496061000,
              "messageType": "Conversation",
              "messageid": "3BA83E8A8E1AA46F4C61",
              "owner": "555481000337",
              "quoted": "",
              "reaction": "",
              "sender": "555497076306@s.whatsapp.net",
              "senderName": "Enzzo Panarotto",
              "sender_lid": "246797494681824@lid",
              "sender_pn": "555497076306@s.whatsapp.net",
              "source": "unknown",
              "status": "",
              "text": "Obrigado",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "555481000337",
            "token": "6756db8a-f9f3-4277-af6d-ffb5754200d6"
          },
          "webhookUrl": "https://servidor-n8n.6pn21f.easypanel.host/webhook/agente-de-ia",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Transferir Atendimento'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b617070-89ef-430d-bca5-028a1f7e5abd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06628b396b226ae4519254d7fac5f11ed3e61f2ad0710c946f2759015e331bd9"
  },
  "id": "aHk26yAoBcHqqiCR",
  "tags": []
}